*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{background-color: burlywood;}
header{background-color: black ; padding-left: 630px ;}
h1{color: burlywood; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
    
}
h1:hover{
    color:white
}
a{color: black;
font-size: larger;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-decoration: dotted;


}
a:hover{color: white;
    

}

li{display: inline-block;
    padding-left: 200px;
    
    
}




section{
    display: flex;
    flex-direction: column;
   
    
    
}
.inicio{
    margin-top: 30px;
    gap: 40px;
    

}

footer{
    margin-left: 500px;
 
}



$color: (
    primary: red,
);

a{
    color: map-get($color, primary);
}

    
     
    
  
 













    
     
    
  
 












